<h1>Homepage Rico Metzger</h1>

<p>Diese Homepage ist noch in Entwicklung und wird in <%= @remaining_days_german %> abrufbar sein.</p>

<p>Bis dahin bin ich am besten via Mail unter <a href="mailto:rico.metzger@gmail.com">rico.metzger@gmail.com</a> erreichbar.</p>

<hr>

<p>This homepage is still in development and will be available in <%= @remaining_days_english %>.</p>

<p>You can contact me via email under <a href="mailto:rico.metzger@gmail.com">rico.metzger@gmail.com</a>.</p>
