<section class="phx-hero">
  <h1>Willkommen auf der Homepage von Rico Metzger</h1>
</section>

<p>Diese Homepage ist noch in Entwicklung und wird in <%= @remaining_days %> Tagen abrufbar sein.</p>

<p>Bis dahin bin ich am besten via Mail unter <a href="mailto:rico.metzger@gmail.com">rico.metzger@gmail.com</a> erreichbar.</p>
